body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 25px;
    background-color: #f5f5dc;
    padding: 15px 0px 20px 30px;
    margin-top: 0;
    color: #5D675B;
    font-weight: 700;
}

.wrap-container {
    margin: 35px 40px;
    padding: 30px 40px;
    border-radius: 7px;
    border: #dbdbdbcc solid 1px;
}

h2 {
    color: #222;
    font-size: 35px;
    margin-bottom: 0;
    margin-top: 0;

}

span {
    font-size: 16px;
    color: rgb(157, 157, 157);
    position: relative;
    top: -3px;
}

#search-form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

label {
    font-size: 14px;
}

input {
    margin-top: 6px;
    padding: 9px;
    width: 45%;
    margin-bottom: 20px;
    font-size: 13px;
    border: 1.3px solid #ccc;   
}

input::placeholder {
    color: rgb(157, 157, 157);
}

input:focus {
  border: 1.3px solid #ff6600;  
  outline: none;  
  background-color: #fffdf8;
  color: #333;            
}

#result-container {
    border-radius: 7px;
    border: #dbdbdbcc solid 1px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 100px;
}

#error-message {
    color: #2c2c2c8c;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin: 80px auto;
}

#profile {
    height: auto;
    width: auto;
}

.user-card {
    display: flex;
    justify-content: center; 
    align-items: center;     
    gap: 60px;
    font-size: 13px;
    font-weight: 500;
}

#user-id {
    font-size: 22px;
    margin-bottom: 15px;
    background-color: #d1d1bd95;
    border-radius: 30px;
    text-align: center;
    padding: 10px 50px;
}

#info {
    padding-left: 10px;
}

.user-card p {
    margin: 5px 0;
}

.user-stat {
    width: auto;
    height: auto;
    font-size: 12px;
    margin-right: 5px;
    font-weight: 500;
    color: #e3e3e3;
    background-color: #6c6c6c;
    padding: 4px 7px;
    border-radius: 5px;
}

#repos {
    margin: 40px 50px;
}

.repos-list {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 10px; 
}

.repos-card  {
    display: block;  
    padding: 20px 20px 30px 30px;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 7px;
    border: #dbdbdbcc solid 1px;
}

.repos-card p {
    margin: 3px;
    font-size:12px;
}

.repo-stat {
    width: auto;
    height: auto;
    font-size: 13px;
    font-weight: 500;
    color: #ffffff;
    padding: 4px 7px;
    border-radius: 5px;
}

.watchers {
    background-color: #4c6fa0;
}

.stars {
    background-color: rgb(204, 204, 109);
}

.forks {
    background-color: #adabab;
}

