
body {
  display: flex;
  justify-content: center;     
  min-height: 100vh;        
  margin: 0;              
}

h1 {
    font-size: 60px;
    font-weight: 100;
    margin-top: 80px;
    margin-bottom: 30px;
}   

.input-container {
    width: 100%;
}

.book-title, .book-author {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
}

.book-title {
    margin-bottom: 15px;
}

label {
    margin-bottom: 10px;
}

input {
    margin-bottom: 10px;
    padding: 8px;
}

#submit-btn {
    padding: 5px;
    font-size: 12px;
    font-weight: 400;
    cursor: pointer;
}

.book-list {
    margin-top: 70px;
}

.book-item {
    display: flex;
    font-size: 13px;
    font-weight: 500;
    color: #8f8f8f;
    border-bottom: #8f8f8f solid 1px;
    padding: 5px;
}

.book-item:first-child {
    font-weight: 400;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: rgba(73, 148, 12, 0.564);
    color: aliceblue;
    border-bottom: none;
}

.book-list span {
    padding-right: 10px;         
    margin-right: 10px;   
    width: 280px;
}

.book-list span:first-child {
    width: 300px;
    padding-left: 15px;
}

.book-list span:last-child {
    border-right: none;
    margin-right: 0;  
    padding-right: 0; 
    width: 50px;
}

.message {
  font-size: 14px;
  color: #1f1f1f;
  font-weight: 600;
  margin-top: 10px;
  transition: opacity 0.5s ease;
  background-color: rgba(91, 110, 76, 0.564);
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
  text-align: center;
}

.delete-btn {
  padding-left: 5px;
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
}