body {
    background-color: bisque;
    align-items: center;
}

#quiz-container {
    width: 555px;
    margin: 200px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#question {
    margin-left: 20px;
}

.choices {
    display: flex;
    text-align: center;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.choices button {
    padding: 10px 50px;
    border: none;
    background-color: #b3b3b3;
    color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}

.choices button:hover {
    background-color: rgb(114, 114, 114);
}

.next-btn-container {
    display: flex;
    justify-content: right;
    margin-top: 20px;
    margin-right: 10px;
}

.next-btn {
    display: flex;
    justify-content: center;
    padding: 8px 50px;
    font-size: 13px;
    border: none;
    background-color: #ffa73b;
    color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 50px;
}

.restart-btn {
    display: flex;
    justify-content: center;
    padding: 8px 50px;
    font-size: 13px;
    border: none;
    background-color: #3c3a37;
    color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 50px;
}

.next-btn:hover {
    background-color: #ffa73b;
}

.restart-btn:hover {
    background-color: #606060;
}

.hidden {
    display: none !important;
}