body {
    background-color: bisque;
    align-items: center;
}

#quiz-container {
    width: 555px;
    margin: 200px auto;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#question {
    margin-left: 20px;
}

.choices {
    display: flex;
    text-align: center;
    margin-top: 40px;
}

.choices button {
    padding: 10px 50px;
    border: none;
    background-color: #b3b3b3;
    color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

.choices button:hover {
    background-color: rgb(114, 114, 114);
}

#next-btn {
    display: flex;
    justify-content: right;
}

#next-btn button {
    padding: 8px 20px;
    font-size: 13px;
    border: none;
    background-color: #df9a9a;
    color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

#next-btn button:hover {
    background-color: rgb(193, 117, 117);
}

#restart-btn {
    display: flex;
    justify-content: center;
}

#restart-btn button {
    padding: 15px 25px;
    font-size: 18px;
    border: none;
    background-color: #ffa73b;
    color: white;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

#restart-button button:hover {
    background-color: rgb(193, 117, 117);
}

.hidden {
    display: none !important;
}