body {
  font-family: "Arial";
  text-align: center;
  background: #f7f7f7;
  padding-top: 30px;
}

.hidden {
  display: none;
}

.stat_wrapper {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  padding-top: 20px;
}

hr {
  margin: 10pxf;
}

#start-screen {
  margin-top: 80px;
}

.stat {
  font-size: 18px;
  font-weight: bold;
  background-color: #a8dadc;
  width: 100px;
  padding: 15px 30px 5px 30px;
  border-radius: 10px;
  color: #272727;
}

#start-btn {
  width: 300px;
  padding: 20px;
  font-weight: 300;
  background-color: #eee3ab;
  border: solid 1px #ada67e;
  border-radius: 5px;
  cursor: pointer;
}

#sentence-area {
  margin: 20px auto;
  width: 70%;
  font-size: 24px;
  line-height: 40px;
  background: white;
  padding: 15px;
  border-radius: 8px;
  min-height: 80px;
}

#sentence-area span.correct {
  color: green;
}

#sentence-area span.incorrect {
  color: red;
}

#typing-area {
  width: 70%;
  height: 120px;
  margin-top: 20px;
  font-size: 20px;
  padding: 10px;
}
